header {
  background: #7700FF;
  div {
      padding: 1.5em;
      text-transform: uppercase;
      font-size: .8em;
      font-weight: bold;
      color: white;

      &:hover {
          background: #8E2BFF;
      }
  }
}

form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    mat-form-field {
      width: 100%;
    }
}

ul {
  list-style-type: none;
  margin: 0;padding: 0;

  li {
      background: rgb(238, 238, 238);
      padding: 4px;
      border-radius: 4px;
      margin-bottom: 7px;
      display: grid;
      grid-template-columns: 80px 350px 50px;
      span {
          font-weight: bold;
          font-size: 10px;
      }
  }
}